//CSS Document - self.

#header {
   height : 100px;
   background-color : #6699CC;
   margin : 0;
   min-width : 1150px;
}

#wrapper {
   text-align : center;
   padding : 20px 20px 30px 25px;
   font-size : 15px;
}

#wrapper th {
   text-align : center;
}

#Button {
   text-align : center;
   padding : 27px 15px 0 50px;
}
